.github {
    max-width: 70%;
    height: 100%;
    border-radius: 1em;
    position: relative;
    margin-bottom: 1em;
    padding: 1em;
}

.contact {
    max-width: 60%;
    border-radius: 1em;
    position: relative;
    padding: 4em;
}

.url{
    text-decoration: none;
    color: black;
    font-family: 'Bitter', serif, sans-serif;
}

.url:hover{
    background-color:rebeccapurple;
    color: white;
    border-radius: 5px;
    padding: 6px;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.header-image {
    background-image: url('../../../assets/logo12.png');
    background-size: cover;
}

.status {
    display: block;
    text-align: center;
    margin: 0;
}

.stats {
    margin:10px;
    display: inline-table;
    text-align: center;
    font-family: 'Bitter', serif, sans-serif;
    background-color: #8dc1b9;
    color: white;
    border-radius: 5px;
    padding: 5px;
}