<div class="contacto">
    <h2><u>Contacto</u></h2>
    <h3>Venezia.leandro@gmail.com</h3>
</div>
<mat-card class="contact">
    <mat-card-content>
        <a href="www.google.com" class="buttom"><img src="../../../assets/gmailx30.png" class="imgbuttom"></a>
        <a href="www.google.com" class="buttom"><img src="../../../assets/githubx30.png" class="imgbuttom"></a>
        <a href="www.google.com" class="buttom"><img src="../../../assets/lnx30.png" class="imgbuttom"></a>
        <a href="www.google.com" class="buttom"><img src="../../../assets/instax30.png" class="imgbuttom"></a>
    </mat-card-content>
</mat-card>