.contacto {
    text-align: center;
}

h2, h3 {
    margin: 5px;
}

.contact {
    border-radius: 1em;
    text-align: center;
    background-color:orange;
    padding:0.7em;
    margin-bottom: 0.7em;
}

.mat-card-content {
    background-color: white;
    border-radius: 1em;
    padding: 2px;
}

.buttom {
    margin: 5px;
}

.imgbuttom {
    border-radius: 30%;
    background-color: white;
    padding: 5px;
}

.imgbuttom:hover {
    background-color: orange;
}