<div class="contacto">
    <h2><u>Contacto</u></h2>
    <a href="mailto:venezia.leandro@gmail.com" class="mail">Venezia.leandro@gmail.com</a>
</div>
<div class="contact">
        <a href="https://github.com/venezia-dev" target="_blank" class="button"><img src="../../../assets/githubx30.png" class="imgbuttom"></a>
        <a href="https://www.linkedin.com/in/leandrovenezia/" target="_blank" class="button"><img src="../../../assets/lnx30.png" class="imgbuttom"></a>
        <a href="https://www.instagram.com/lea_venezia/" target="_blank" class="button"><img src="../../../assets/instax30.png" class="imgbuttom"></a>
</div>