<div *ngIf="!isIndexRoute()">
    <a name="portfolio"></a>
    <div fxLayout="row" fxLayoutAlign="center">
        <h2>Portfolio</h2>
    </div>

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" class="webs">
        <mat-card class="web" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let web of webs">
            <a href="{{web.url}}" matTooltip="Abrir Web" class="link" fxHide.lt-md fxHide.xl><i class="material-icons">
                    link
                </i></a>
            <div fxHide fxShow.lt-md>
                <a (click)="openDialog(web)" matTooltip="Abrir Vista Previa" class="zoom"><i class="material-icons">
                    zoom_in
                </i></a>
                <img mat-card-image src="../../../assets/webimg/{{web.img}}"
                 alt="{{web.title}}">
            </div>
            <a (click)="openDialog(web)" type="button" fxHide.lt-md><img mat-card-image src="../../../assets/webimg/{{web.img}}"
                    matTooltip="Abrir Vista Previa" alt="{{web.title}}"></a>
            <mat-card-title>
                <img src="../../../assets/{{web.code1}}">
                <img src="../../../assets/{{web.code2}}">
                <span class="year">{{web.year}}</span>
            </mat-card-title>
            <mat-card-subtitle>
                <a href="http://{{web.url}}/" matTooltip="Abrir Web" target="_blank" class="url" fxHide fxShow.lt-md
                    fxShow.xl>{{web.url}}</a>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>



<mat-card class="webR" *ngIf="isIndexRoute()">
        <a href="{{webR.url}}" matTooltip="Abrir Web" class="link" fxHide.lt-md fxHide.xl><i class="material-icons">
            link
        </i></a>
        <div fxHide fxShow.lt-md>
            <a (click)="openDialog(webR)" matTooltip="Abrir Vista Previa" class="zoom"><i class="material-icons">
                zoom_in
            </i></a>
            <img mat-card-image src="../../../assets/webimg/{{webR.img}}" alt="{{webR.title}}">
        </div>
        <a (click)="openDialog(webR)" fxHide.lt-md><img mat-card-image src="../../../assets/webimg/{{webR.img}}"
            matTooltip="Abrir Vista Previa" alt="{{webR.title}}"></a>
    <mat-card-title>
        <img src="../../../assets/{{webR.code1}}">
        <img src="../../../assets/{{webR.code2}}">
        <span class="year">{{webR.year}}</span>
    </mat-card-title>
    <mat-card-subtitle>
        <a href="{{webR.url}}" class="url" matTooltip="Abrir Web" fxHide fxShow.lt-md fxShow.xl>{{webR.url}}</a>
    </mat-card-subtitle>
</mat-card>