.welcome {
    color: rebeccapurple;
    padding: 1em;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin: 2px;
}

h2 {
    font-size: 1.5em;
    margin: 2px;
}


.circleMenu {
    position:relative;
    border-radius:50%;
    height: 280px;
    width: 280px;
    background: url('../../../assets/lea.png') center no-repeat;
    background-size: contain; 
}

@media (min-width: 1400px) and (max-width: 1650px) {
    .circleMenu {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 960px) and (max-width: 1400px) {
    .circleMenu {
        height: 180px;
        width: 180px;
    }
}


@media (max-width: 960px)  {
    .circleMenu {
        height: 220px;
        width: 220px;
    }
}

