<mat-card class="header">
    <mat-card-content>
        <a routerLink="/" routerLinkActive="active"  matTooltip="Inicio"><i class="material-icons">home</i></a>
        <a routerLink="/portfolio" routerLinkActive="active" fragment="portfolio" matTooltip="Portfolio Webs"><i class="material-icons">web</i></a>
        <a routerLink="/apps"  routerLinkActive="active" fragment="apps" matTooltip="Apps"><i class="material-icons">apps</i></a>
        <a routerLink="/contacto"  routerLinkActive="active" fragment="contacto" matTooltip="Contacto"><i class="material-icons">local_cafe</i></a>
    </mat-card-content>
</mat-card>