h2 {
    text-align: center;
}

h3 {
    margin: 5px;
}

.title {
    text-align: center;
    margin: 0.8em;
}

.instagram {
    border-radius: 1em;
    width: 90%;
}

.insta {
    text-align: center;
}