<div fxLayout="row" fxLayoutAlign="center" class="title">
    <h3>Trabajo de manera Freelance, haciendo realidad los proyectos e ideas de mis clientes, <br>
        y esperando nuevos RETOS, para seguir creciendo como profesional!
    </h3>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" class="apps">
    <div fxFlex="25" class="web">
        <app-portfolio></app-portfolio>
    </div>
    <div fxFlex="25" class="app">
        <app-apps></app-apps>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <p><u>*Webs y Apps Aleatorias de mi Portfolio</u></p>
    <a routerLink="/portfolio" class="mas"><button mat-raised-button color="primary">Ver Mas</button></a>
</div>


<div fxLayout="row" fxLayoutAlign="center center" class="social">
    <mat-card class="web">
        <mat-card-title>FALTA PONER WIDGET INSTAGRAM</mat-card-title>
        <mat-card-content>
            <p>asdqweqweq</p>
        </mat-card-content>
    </mat-card>
</div>


<div fxLayout="row" fxLayoutAlign="center center" style="font-weight: bold; margin-top: 1em;">
    Hosting: <img src="../../../assets/herokux30.png" matTooltip="Heroku">
    Code: <img src="../../../assets/angularx30.png" matTooltip="Angular">
</div>


