<div fxLayout="row" fxLayoutAlign="center" class="title">
    <h3>Trabajo de manera Freelance, haciendo realidad los proyectos e ideas de mis clientes, <br>
        y esperando nuevos RETOS, para seguir creciendo como profesional!
    </h3>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="80%" fxLayoutAlign="center">
        <h4>Webs<span class="aste">*</span></h4>
        <app-portfolio></app-portfolio>
    </div>
    <div fxLayout="column" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="80%" fxLayoutAlign="center">
        <h4>Apps<span class="aste">*</span></h4>
        <app-apps></app-apps>
    </div>
    <div fxLayout="column" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="80%" fxLayoutAlign="center center">
        <h4><span class="aste">*</span>Webs y Apps aleatorias desde mi portfolio</h4>
        <a routerLink="/portfolio" style="margin-top: 5px;"><button mat-raised-button color="primary">Ver más</button></a>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="title2">
    <h3>Instagram Feed</h3>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="instagram">
        <span *ngFor="let insta of instagram">
            <a href="{{insta.img}}" target="_black" ><img src="{{insta.img}}/media/?size=t" class="insta"></a>
        </span>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center" class="title2">
    <a href="https://www.instagram.com/lea_venezia/" matTooltip="@lea_venezia"><button mat-raised-button color="primary">Seguime!</button></a>
</div>