h3 {
    margin: 1px;
    text-align: center;
}

h4 {
    margin: 1px;
    text-align: center;
}

.title {
    text-align: center;
    margin: 0.8em;
}

.title2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.aste {
    color: rebeccapurple;
}

.instagram {
    border-radius: 1em;
    width: 85%;
    text-align: center;
}

.insta:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


@media (min-width: 960px) and (max-width: 1300px) { 
    h3 {
        font-size: 1em;
    }
}