<div fxLayout="row" fxLayoutAlign="center" class="title">
    <h3>Trabajo de manera Freelance, haciendo realidad los proyectos e ideas de mis clientes, <br>
        y esperando nuevos RETOS, para seguir creciendo como profesional!
    </h3>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
        <h3>Webs</h3>
        <app-portfolio></app-portfolio>
        <h3>Apps</h3>
        <app-apps></app-apps>
        <p><u>*Webs y Apps Aleatorias de mi Portfolio</u></p>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start center">
        <h3>Instagram Feed</h3>
        <mat-card class="instagram">
            <div class="insta">
                <img src="https://www.instagram.com/p/B7Z4v48Fr-5/media/?size=t" class="feed">
                <img src="https://www.instagram.com/p/B7Z4miMF9A0/media/?size=t" class="feed">
                <img src="https://www.instagram.com/p/B7Z4j-2FRbF/media/?size=t" class="feed">
                <img src="https://www.instagram.com/p/B7Z4gHbljMs/media/?size=t" class="feed">
                <img src="https://www.instagram.com/p/B7Z4bqnlP6S/media/?size=t" class="feed">
                <img src="https://www.instagram.com/p/B7ZX1JiFv4Y/media/?size=t" class="feed">
            </div>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="center" style="font-weight: bold; margin-top: 1em;">
            Hosting: <img src="../../../assets/herokux30.png" matTooltip="Heroku">
            Code: <img src="../../../assets/angularx30.png" matTooltip="Angular">
        </div>
    </div>
</div>



