<a name="apps"></a>

<div *ngIf="!isIndexRoute()">
    <div fxLayout="row" fxLayoutAlign="center">
        <h2>Aplicaciones</h2>
    </div>
    
    <div fxLayout="row wrap"  fxLayout.xs="column" fxLayoutAlign="center" class="webs">
        <mat-card class="web" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let app of apps">
            <a href="{{app.url}}" matTooltip="Abrir Web" class="link" fxHide.lt-md fxHide.xl><i class="material-icons">
                link
            </i></a>
            <div fxHide fxShow.lt-md>
                <a (click)="openDialog(app)" matTooltip="Abrir Vista Previa" class="link"><i class="material-icons">
                    zoom_in
                </i></a>
                <img mat-card-image src="../../../assets/appimg/{{app.img}}" alt="{{app.title}}">
            </div>
            <a (click)="openDialog(app)" fxHide.lt-md><img mat-card-image src="../../../assets/appimg/{{app.img}}" matTooltip="Abrir Vista Previa" alt="{{app.title}}"></a>
            <mat-card-title> 
                <img src="../../../assets/{{app.code1}}">
                <img src="../../../assets/{{app.code2}}">
                <span class="year">{{app.year}}</span>
            </mat-card-title>
            <mat-card-subtitle> 
    
                <a href="{{app.url}}" class="url" matTooltip="Abrir Web" fxHide fxShow.lt-md fxShow.xl >{{app.title}}</a>
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>

<mat-card class="webR" *ngIf="isIndexRoute()">
    <a href="{{appR.url}}" matTooltip="Abrir Web" class="link" fxHide.lt-md fxHide.xl><i class="material-icons">
        link
    </i></a>

    <div fxHide fxShow.lt-md>
        <a (click)="openDialog(appR)" matTooltip="Abrir Vista Previa" class="link"><i class="material-icons">
            zoom_in
        </i></a>
        <img mat-card-image src="../../../assets/appimg/{{appR.img}}" alt="{{appR.title}}">
    </div>

    <a (click)="openDialog(appR)" fxHide.lt-md><img mat-card-image src="../../../assets/appimg/{{appR.img}}" matTooltip="Abrir Vista Previa" alt="{{appR.title}}"></a>
 <mat-card-title> 
    <img src="../../../assets/{{appR.code1}}">
    <img src="../../../assets/{{appR.code2}}">
     <span class="year">{{appR.year}}</span>
 </mat-card-title>
 <mat-card-subtitle> 
     <a href="{{appR.url}}" class="url" matTooltip="Abrir Web" fxHide fxShow.lt-md fxShow.xl >{{appR.title}}</a>
 </mat-card-subtitle>
</mat-card>


