.content-1 {
    background-color: white;  
    height: 94vh;
    width: 100%;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.content-2 {
    background-color:#fff9f0;  
    height: 94vh;
    width: 100%;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

footer {
    position: sticky;
    margin-top: 5px;
    top: 0;
    width: 100%;
    z-index: 1;
}

.button {
    line-height: 15px;
}

@media (min-width: 600px) and (max-width: 960px) {
    .content-1 {
        height: 100%;
    }
    
    .content-2 {
        height: 100%;
        margin-top: 0.7em;
    }
}



@media (max-width: 600px) { 
    .content-1 {
        height: 90vh;
        border-radius: 1em;
    }
    
    .content-2 {
        height: 100vh;
        border-radius: 1em;
        margin-top: 0.7em;
    }

}

