/* You can add global styles to this file, and also import other style files */

html{ 
    background-color:#e6e7e8;  /* fallback for old browsers */
    margin: 0;
    padding: 0;
}

body {  
    font-family: 'Bitter', serif, sans-serif;
    border-radius: 1em;
    background-color: #401c3e;
    height: 94vh;
    margin: 2vh;
    padding: 1vh;
}

@media (max-height: 960px) {
    body {
        height: 100%;
    }
}