<div fxLayout="row" fxLayoutAlign="center" class="menu">
    <div cdkDropList #ok="cdkDropList" 
    [cdkDropListConnectedTo]="[noOk]"
    (cdkDropListDropped)="drop($event)" class="circleMenu">
    </div>
</div>


<div fxLayout="row" class="buttonMenu"
cdkDropList #noOk="cdkDropList" 
[cdkDropListConnectedTo]="[ok]"
(cdkDropListDropped)="drop($event)">
    <img src="../../../assets/gradu.png" class="circleButton" cdkDrag>
    <img src="../../../assets/gears1.png" class="circleButton" cdkDrag>
    <img src="../../../assets/phone.png" class="circleButton" cdkDrag>
</div>

