<div fxLayout="row" fxLayoutAlign="center" class="title" >
    <h4>Soy Desarrollador Web Freelance desde Buenos Aires, <br>
        tomando como dirección el famoso Stack MEAN.
    </h4>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="title">
   <img src="../../../assets/mongodbx30.png">
   <img src="../../../assets/expressx30.png">
   <img src="../../../assets/angularx30.png">
   <img src="../../../assets/nodejsx30.png">
</div>

<div fxLayout="row" fxLayoutAlign="center" class="contact">
    <app-contact></app-contact>
</div>



