<div fxLayout="row" fxLayoutAlign="center" class="title" >
    <h4>Soy Desarrollador Web Freelance desde <br>
        Buenos Aires, tomando como dirección el famoso Stack MEAN.
    </h4>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="title">
   <img src="../../../assets/mongodbx30.png" matTooltip="MongoDB">
   <img src="../../../assets/expressx30.png" matTooltip="Express.JS">
   <img src="../../../assets/angularx30.png" matTooltip="Angular">
   <img src="../../../assets/nodejsx30.png" matTooltip="Node.JS">
</div>

<div fxLayout="column" fxLayoutAlign="center" class="contact">
    <div class="contacto">
        <h2><u>Contacto</u></h2>
        <a href="mailto:venezia.leandro@gmail.com" class="mail">Venezia.leandro@gmail.com</a>
    </div>
    <div class="contact">
        <a href="https://github.com/venezia-dev" target="_blank" matTooltip="/Venezia-Dev" class="button"><img
                src="../../../assets/githubx30.png" class="imgbuttom"></a>
        <a href="https://www.linkedin.com/in/leandrovenezia/" target="_blank" matTooltip="/LeandroVenezia"
            class="button"><img src="../../../assets/lnx30.png" class="imgbuttom"></a>
        <a href="https://www.instagram.com/lea_venezia/" target="_blank" matTooltip="Lea_Venezia" class="button"><img
                src="../../../assets/instax30.png" class="imgbuttom"></a>
    </div>
</div>



